@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MIRA NUESTRAS CABAÑAS</h1>
</div>
@foreach (cabaña c in ViewBag.cabañas.Values)
{
    <div>
        <h2>@c.devolverNombre()</h2>

        @if (c.devolverListaFotos().Count > 0)
        {
            <img src="/imagenes/@c.devolverListaFotos()[0]" />
        }
        <p>Capacidad: @c.devolverCapacidad()</p>
        <a href="/Home/accion2?id=@c.devolverId()">
        Ver detalle
        </a>
    </div>
}